#soil-box{
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: brown;
    font-size: calc(0.8rem + 1.5vw) !important;
    color:rgb(36, 36, 36);
}

#residue-box{
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: yellow;
    font-size: calc(0.7rem + 1.5vw) !important;
    color:rgb(36, 36, 36);
}

#canopy-box{
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: green;
    font-size: calc(0.7rem + 1.5vw) !important;
    color:rgb(36, 36, 36);
}


#upload_btn_wrapper_div{
    float:none;
}

 .result_div{
    display: table;
}
 
#result_image{
    display: table-header-group;
}


#download_predicted_image{
    display: table-footer-group;
}


/*  Changing the color of the NAV bar */
nav ul li a{
  color: black;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 70%;
  }
  @media only screen and (min-width: 601px) {
    .container {
      width: 95%;
    }
  }
  @media only screen and (min-width: 993px) {
    .container {
      width: 85%;
    }
  }